body{margin:0px;text-align:justify;font-family:verdana;font-size:0.8em;background-color:#222;color:white;}

h1{margin-top;0;border-bottom:2px solid white}

aside{
float:left;
display:block;
padding:5px;
width:240px;
min-height:200px;
text-align:left;
}

#profile{padding:5px;min-height:70px;}

#page{
margin-left:250px;
min-height:250px;
padding-top:5px;
}

footer{margin:5px 2px 2px 0px;padding:5px 10px;border-radius:2px;font-family:verdana;font-size:0.8em;}
footer a:link{color:orange;text-decoration:none}
footer a:hover{text-decoration:underline}
footer a:visited{color:white}

.button{
padding:5px;border-radius:2px; text-align:left; background-color:#444;
display:block;margin:2px;cursor:default;font-family:verdana;color:white;text-decoration:none;
}
.button:hover{
color:black;background: -moz-linear-gradient(top, #FF5, #FFCC33);background-color:orange
}
.ribbon{
cursor:default;text-align:center;width:100%;padding:5px 0;margin-bottom:10px
}

.card{
display:inline-block;
padding:15px 5px;
margin:5px;
min-width:110px;
max-width:150px;
min-height:20px;
border-radius:2px;
background-color:white;
color:#014;
text-align:center;
text-decoration:none !important;
vertical-align:middle;
}

.card a{text-decoration:none;}
.card a:hover{text-decoration:underline;}
.card img{padding-bottom:5px;max-width:96px}

.loader{padding:10px !important; background-color:white}

.left{text-align:left !important}
.centre{text-align:center !important}
.right{text-align:right !important}
.justify{text-align:justify !important}

.avatar{float:left;display:inline-block;margin:0px 5px 2px 0px;vertical-align:text-top;border:2px solid gray;border-radius:2px}
.name{display:block;font-weight:bold;}
.imgInv{width:96px;height:96px}



.loader{padding:10px !important; background-color:white}

.left{text-align:left !important}
.centre{text-align:center !important}
.right{text-align:right !important}
.justify{text-align:justify !important}

.avatar{float:left;display:inline-block;margin:0px 5px 2px 0px;vertical-align:text-top;border:2px solid gray;border-radius:2px}
.name{display:block;font-weight:bold;}

.emoticon{background-image:url('../img/check.gif')}
.emoticon:hover{background-image:none;background-color:#444;color:white}

/*Qualities*/

.n{background-color:#BA0;color:white}
.n:hover{background-color:#ED1;color:#A90}

.v{background-color:#569;color:white}
.v:hover{background-color:#78B}

.g {background-color:#586;color:white}
.g:hover{background-color:#7A8;color:#464}

.s {background-color:#D73;color:white}
.s:hover{background-color:#F95;color:#A05125}

.u {background-color:#95B;color:white}
.u:hover{background-color:#B7D;color:#637}

.h{background-color:#4FB;color:white}
.h:hover{background-color:#6FD;color:#1C8;}

.c{background-color:#7B5;color:white}
.c:hover{background-color:#9D7:color:#584;}

.valve{background-color:#A18;color:white}
.valve:hover{background-color:#C3A;color:#614;}

.d {background-color:silver;color:white}
.d {border:1px solid gray;background-color:silver;color:gray; }

@media screen and (max-width:450px){
aside{position:static;padding:0px;margin:0px;width:100%;}
#page{margin-left:0px}
}