body{margin:0px;text-align:justify;font-family:verdana;font-size:0.8em;background-color:#EEE;}

aside{
position:absolute;
display:block;
left:0px;
top:0px;
padding:10px;
width:230px;
min-height:200px;
text-align:left;
}

#profile{padding:5px;background-color:#222;color:white;min-height:70px;}

#page{
margin-left:250px;
min-height:250px;
padding:10px 5px;
color:white;
background-color:#222;
}

footer{margin:5px 2px 2px 0px;padding:5px 10px;border-radius:2px;font-family:verdana;font-size:0.8em;}
footer a:link{color:orange;text-decoration:none}
footer a:hover{text-decoration:underline}
footer a:visited{color:white}

.button{
display:inline-block;margin:2px;padding:3px;cursor:default;font-family:verdana;font-size:0.8em;color:white;
text-align:center;vertical-align:middle;text-decoration:none;width:64px;min-height:64px;
}
.button:hover{
color:black;background: -moz-linear-gradient(top, #FF5, #FFCC33);background-color:orange
}

.ribbon{
cursor:default;text-align:center;width:100%;padding:5px 0px;background-color:#333;margin-bottom:10px;
background: -moz-linear-gradient(top, #333, #222)
}

.card{
cursor:default;
display:inline-block;
padding:5px;
margin:5px;
width:110px;
min-height:20px;
border-radius:2px;
background-color:white;
color:black;
text-align:center;
vertical-align:middle;
}

.card a{text-decoration:none;}
.card a:hover{text-decoration:underline;}
.card img{padding:0px 5px;border-radius:2px}

.left{float:left}

.avatar{display:inline-block;margin:0px 5px 2px 0px;vertical-align:text-top;border:2px solid gray;border-radius:2px;}
.name{display:block;font-weight:bold;}
.imgInv{width:96px;height:96px}


#backpack{
text-align:center;
}

/*Qualities*/

.n{color:#A90}
.n img{background-color:#BA0}
.n img:hover{background-color:#ED1}

.v{color:#457}
.v img{background-color:#569}
.v img:hover{background-color:#78B}

.g{color:#464}
.g img{background-color:#586}
.g img:hover{background-color:#7A8}

.s{color:#A05125}
.s img{background-color:#D73}
.s img:hover{background-color:#F95}

.u{color:#637}
.u img{background-color:#95B}
.u img:hover{background-color:#B7D}

.h{color:#1C8}
.h img{background-color:#4FB}
.h img:hover{background-color:#6FD}

.c{color:#584}
.c img{background-color:#7B5}
.c img:hover{background-color:#9D7}

.valve{color:#614}
img.valve{background-color:#A18}
img.valve:hover{background-color:#C3A}

.d{color:gray}
.d img{background-color:silver}
img.d{border:1px solid gray;background-color:silver}

